a{
    color: white;
    background-color: rgb(219, 59, 206);
    margin: 2px 2px;
    border: 1px solid white;
    text-decoration: none;
   
    padding: 4px 8px;
    font-size: 24px;
}

a:hover{
    opacity: 0.7;
}
.active-link{
    border-color: rgb(183, 88, 221);
    border-radius: 2px;
    
}
nav{
    position: relative;
    margin-top: 2px;
}
div{
    
    margin-top: 2px;
}